@import '~purecss/build/pure.css';

$backgroundColor: #252525;
$mainColor: #0288d1;
$mainColorDark: #005b9f;
$mainColorLight: #5eb8ff;
$mainFont: 'Montserrat';


html {
  background-color: $backgroundColor;
}

.main {
  font-family: $mainFont;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  .progress-bar {
    height: 2px;
    position: absolute;
    z-index: 41;
    top: 0;
    left: 0;
    background-color: white;
    transition: 0.2s width;
  }

  .top-bar {
    margin: 0;
    padding: 10px;
    background-color: $mainColorDark;
    color: white;
    display: flex;
    align-items: center;
    font-size: x-large;
    justify-content: space-between;

    .controls {
      display: flex;
    }

    button {
      font-size: large;
      background-color: transparent;
      border: 0;
      outline: hidden;
    }
  }
}

.editor-body {
  display: flex;
  flex-direction: row;
  align-items: center;

  .nav {
    width: 100px;
  }
}

.image-previews {
  display: flex;
  width: 100%;
  overflow-y: scroll;

  img {
    border: solid 2px transparent;
    height: 100px;
    padding: 10px;
  }

  img:hover {
    border: solid 2px red;
    transition: 2s;
  }

  img.selected {
    border-color: $mainColor;
  }

}

.image-editor {
  margin: 40px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70%;
  align-items: center;
  justify-content: center;

  img {
    height: 60vh;
  }

  .controls {
    padding: 20px;
    display: flex;
    flex-direction: column;

    input.name {
      margin-bottom: 10px;
      padding: 5px;
    }

    .slider-container {
      display: flex;
      flex-direction: row;

      align-items: flex-start;
      justify-content: start;
      margin: 5px 0;

      label {
        width: 100px;
        color: white;
      }

      input {
        width: 200px;
      }
    }
  }
}